.blackjackGame {
  background-color: #1a242f;
  color: white;
  padding: 200px;
  border-radius: 15px;
  max-width: 1600px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.gameArea {
  background-color: #2c3e50;
  border-radius: 10px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.dealerArea,
.playerArea {
  background-color: #34495e;
  padding: 90px;
  border-radius: 10px;
  width: 45%;
}

.cardArea {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.score {
  font-size: 18px;
  color: yellow;
}

.controls {
  text-align: center;
  margin-bottom: 20px;
}

.betInput {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100px;
  font-size: 18px;
  background-color: white;
  color: black;
}

.buttonArea {
  margin-top: 20px;
}

.hitButton {
  width: 100px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #27ae60;
  color: white;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.standButton {
  width: 100px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #2980b9;
  color: white;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.restartButton {
  width: 100px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #e74c3c;
  color: white;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.hitButton:hover {
  background-color: yellow;
  color: black;
}

.standButton:hover {
  background-color: yellow;
  color: black;
}

.restartButton:hover {
  background-color: yellow;
  color: black;
}

.greenText {
  color: #2ecc71;
}

.redText {
  color: #e74c3c;
}

.loading {
  text-align: center;
  font-size: 24px;
  color: white;
}
