* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #72b3e2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
}

.logo-container {
  flex: 1;
  text-align: center;
}

.logo {
  width: 400px;
  height: auto;
}

.button-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 15px 20px;
  font-size: 18px;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
  width: 250px;
}

.button:hover {
  background-color: #333;
}
.form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: left;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

label {
  font-size: 18px;
  margin: 10px 0 5px;
}

input {
  padding: 10px;
  font-size: 16px;

  border-radius: 5px;
  border: 1px solid #ccc;
}

.submit-button {
  background-color: #555;
  color: white;
  border: none;
  margin-top: 15px;
  padding: 15px 20px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
}

.submit-button:hover {
  background-color: #333;
}

.back-button {
  width: 120px;
  margin-left: 0px;
}

.settings {
  width: 50px;
  height: auto;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: transform 0.3s ease-in-out;
  transform: rotate(0deg);
}

.settings:hover {
  transition: transform 0.3s ease-in-out;
  transform: rotate(90deg);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Dark background for the overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure the modal is above other content */
}

.modal {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
  max-width: 100%;
  z-index: 1001; /* Ensure the modal content is above the overlay */
}

.modal h1,
p {
  color: black;
}

.close-button {
  position: absolute;
  color: black;
  top: 0px; /* Position from the top */
  right: 0px; /* Position from the right */
  padding: 5px;
  border-radius: 50%;
  margin: 0px;
  height: 40px;
  width: 40px;
  background: none;
  border: none;
  font-size: 24px; /* Make the X large enough */
  cursor: pointer;
}
.close-button:hover {
  font-weight: bold;
}

.close-button:focus {
  outline: none; /* Removes the focus outline */
}

/* Style for the buttons on the side of the modal */
.side-buttons {
  display: flex;
  flex-direction: column;
}
.settings-header {
  position: relative;
}

.side-buttons button {
  background-color: #555;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  margin: 0px;
  border: 2px solid black;
  border-radius: 8px;
  cursor: pointer;
}

.side-buttons button:hover {
  background-color: #333;
}

.settings-container {
  display: flex;
  position: relative;
  align-items: flex-start;
}
