/* Reset and global styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #72b3e2;
  background: linear-gradient(
    -45deg,
    rgb(49, 175, 249),
    rgb(106, 66, 249),
    lightblue
  );
  background-size: 400% 400%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  width: 100%;
  height: 100vh;
  animation: animate 15s ease infinite;
}

@keyframes animate {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.settingsEmailLabel {
  color: #333;
}

/* Container styles */
.container {
  display: flex;
  align-items: center;
  height: 500px;
  width: 800px;

  border-radius: 25px;
  background-color: black;
}

.logoContainer {
  flex: 1;
  text-align: center;
}

.logo {
  width: 400px;
  height: auto;
}

.settingItem {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider {
  width: 100%;
  max-width: 400px;
  margin-top: 10px;
}

/* Button container styles */
.buttonContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 100%;
  background-color: white;
  border-radius: 25px;
  border: 4px black solid;
}

h1 {
  font-size: 36px;

  margin-bottom: 20px;
  color: black;
}

.container h1 {
  margin-top: 50px;
}

.formContainer h1 {
  margin-top: 5px;
}

.secondContainer {
  height: 650px;
}

/* Button styles */
.button {
  background-color: #0d2365;
  color: #fff;
  border: none;
  padding: 15px 20px;
  font-size: 18px;
  margin: 10px;
  border: solid black;
  border-radius: 8px;
  border: 4px solid black;
  cursor: pointer;
  width: 300px;
}

.button:hover {
  background-color: #1b5193;
  color: #fff;
}

/* Form and input styles */
.formContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 100%;
  background-color: white;
  border-radius: 25px;
  border: 4px solid black;
}
.formContainer h1 {
  margin-left: 20px;
  margin-bottom: 5px;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-left: 20px;
}

.formLabel {
  font-size: 18px;
  margin: 10px 0 0;
  color: black;
}

.inputField {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white;
  border: 1px solid black;
  color: black;
  margin: 0px;
  width: 300px !important;
}

/* Submit button */
.submitButton {
  background-color: #0d2365;
  color: #fff;
  border: none;
  padding: 15px 20px;
  font-size: 18px;
  margin-top: 20px;
  border: solid black;
  border-radius: 8px;
  border: 4px solid black;
  cursor: pointer;
  width: 300px;
  margin-left: 0px;
}

.submitButton:hover {
  background-color: #1b5193;
  color: #fff;
}

/* Forgot Password */

.forgotpassButton {
  background-color: #0d2365;
  color: #fff;
  border: none;
  padding: 15px 77px;
  font-size: 18px;
  margin-top: 5px;
  border: solid black;
  border-radius: 8px;
  border: 4px solid black;
  cursor: pointer;
  width: 300px;
  margin-left: 20px;
}

.submitButton:hover {
  background-color: #1b5193;
  color: #fff;
}

/* Back button */
.backButton {
  width: 120px;
  margin-left: 20px;
  margin-top: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Settings icon */
.settings {
  width: 50px;
  height: auto;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: transform 0.3s ease-in-out;
  transform: rotate(0deg);
}

.settings:hover {
  transition: transform 0.3s ease-in-out;
  transform: rotate(90deg);
}

/* Modal styles */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Dark background for the overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure the modal is above other content */
}

.modal {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 25px;
  margin-right: 10px;

  width: 400px;
  height: 100%;
  max-width: 100%;
  z-index: 1001; /* Ensure the modal content is above the overlay */
}

.modalGrid {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 25px;
  margin-right: 10px;

  width: 400px;
  height: auto;
  max-width: 100%;
  z-index: 1001;
}

.modal h1,
p {
  color: black;
}

.volumeSlider {
  width: 100%;
}

.closeButton {
  position: absolute;
  color: black;
  top: 10px;
  right: 10px;
  padding: 5px;

  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.closeButton:hover {
  font-weight: bold;
  background-color: transparent;
}
.closeButton:focus {
  outline: none; /* Removes the focus outline */
}

/* Style for the buttons on the side of the modal */

.settingsTitle {
  position: relative;
  align-items: left;
  width: 100%;
  display: flex;
}
.settingsTitle h1 {
  margin-top: 20px;
  margin-left: 30px;
  color: black;
}

.pokerInitItem {
  display: flex;
  margin-left: 30px;
  color: black;
}

.pokerInitItem h2 {
  margin-left: 30px;
  margin-bottom: 20px;
  color: black;
}

.pokerInitItem label {
  margin-left: 30px;
  color: black;
}

.pokerInitError {
  margin-left: 30px;
  color: red;
}

.sideButtons {
  display: flex;
  flex-direction: column;
  margin-right: 0px;
}

.sideButtons button {
  background-color: #0d2365;
  color: #fff;
  border: none;
  font-size: 16px;
  margin: 10px;
  border: solid black;
  border-radius: 8px;
  border: 4px solid black;
  cursor: pointer;
}

.sideButtons button:hover {
  background-color: #85a3ff;
  border: 4px solid rgb(133, 133, 133);
}

.bigSettings {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  background-color: white;
}

/* Container for side buttons and modal */
.settingsContainer {
  display: flex;
  align-items: flex-start;
  height: 450px;
}
.bigSettings {
  border: 4px black solid;
}
.change:hover {
  border-color: gray;
  background-color: #394d88;
}
.popupClose {
  color: black;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  grid-gap: 10px; /* Space between images */
  padding: 10px;
}

.gallery-image {
  width: 100%;
  height: auto; /* Adjust the height based on the image's aspect ratio */
}

.userInfo {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 18px;
  color: #fff;
  background-color: #333;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.userInfo span {
  margin-left: 5px;
}

.profileImgTitlePage {
  width: 45px;
  height: auto; /* Maintains the aspect ratio */
  border-radius: 50%; /* Optional: makes the image round */
  margin-top: 5px;
  margin-right: 5px;
}

.pokerButtons,
.gameButtons {
  display: flex;
  width: 100%;
}
.poker {
  background-color: #0d2365;
  color: #fff;
  border: none;
  padding: 15px 20px;
  font-size: 18px;
  margin: 10px;
  border: solid black;
  border-radius: 8px;
  border: 4px solid black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  color: white !important;
}
.poker:hover {
  background-color: #1b5193;
}
.blackjack,
.roulette {
  width: 200px;
  text-align: center;
}

.homeLogo {
  display: block;
  margin: 0 auto; /* Center the logo horizontally */
  width: 400px;
  height: auto;
  margin-bottom: 20px;
}

.menu {
  background-color: white;
  border-radius: 25px;
  border: 4px black solid;
  width: 500px;
}

.customBio {
  background-color: white;
  border: black, 4px, solid;
  border-radius: 2px;
  color: black;
}

.settingsContainer p {
  color: black;
}
.accountButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
