.pokerContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

.pokerTable {
  width: 998px;
  height: 998px;
  background-color: #357a38;
  border-radius: 50%;
  border: 5px solid #333;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.3);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pot {
  margin-top: 19px;
  text-align: center;
  color: white;
  font-size: 23px;
}

.communityCards {
  display: flex;
  gap: 14px;
  margin-top: 19px;
  justify-content: center;
}

.card,
.faceDownCard {
  width: 76px;
  height: 105px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  color: black;
  font-weight: bold;
}

.card {
  background-color: #fff;
  border: 1px solid #000;
}

.faceDownCard {
  background-color: #333;
  border: 1px solid #000;
  color: transparent;
  margin: 0 5px;
}

.players {
  position: absolute;
  width: 100%;
  height: 100%;
}

.playerSlot {
  color: white;
  text-align: center;
  position: absolute;
}

.playerCards {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.player1 {
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}
.player2 {
  bottom: 30%;
  left: 10%;
}
.player3 {
  top: 30%;
  left: 10%;
}
.player4 {
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}
.player5 {
  top: 30%;
  right: 10%;
}
.player6 {
  bottom: 30%;
  right: 10%;
}

.controls {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.slider {
  width: 200px;
}

.raiseDisplay {
  font-size: 18px;
  color: white;
}

.controlButton {
  width: 100px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #357a38;
  color: white;
  cursor: pointer;
}

.controlButton:hover {
  background-color: #2b6130;
}

.settings {
  width: 50px;
  height: auto;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: transform 0.3s ease-in-out;
  transform: rotate(0deg);
}

.settings:hover {
  transition: transform 0.3s ease-in-out;
  transform: rotate(90deg);
}

/* Modal styles */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Dark background for the overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure the modal is above other content */
}

.modal {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 25px;
  margin-right: 10px;

  width: 400px;
  height: 100%;
  max-width: 100%;
  z-index: 1001; /* Ensure the modal content is above the overlay */
}

.modalGrid {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 25px;
  margin-right: 10px;

  width: 400px;
  height: auto;
  max-width: 100%;
  z-index: 1001;
}

.modal h1,
p {
  color: black;
}

.closeButton {
  position: absolute;
  color: black;
  top: 10px;
  right: 10px;
  padding: 5px;

  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.closeButton:hover {
  font-weight: bold;
  background-color: transparent;
}
.closeButton:focus {
  outline: none; /* Removes the focus outline */
}

/* Style for the buttons on the side of the modal */

.settingsTitle {
  position: relative;
  align-items: left;
  width: 100%;
  display: flex;
}
.settingsTitle h1 {
  margin-top: 20px;
  margin-left: 30px;
  color: black;
}
